</main>


<footer>
    <div class="footer">
    <p>WorkDaily &copy; <%= new Date().getFullYear()%></p>
    </div>
</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>