<%-  include("partials/header.ejs") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<h1>HEADING</h1>
<div class="container">
<ul class="list-group">
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
      <textarea name="text" id="text1" cols="30" rows="1"></textarea>
    </li>
  </ul>
 </div>
 


<div class="container">
<button type="button" class="btn btn-primary round" value="add" id="submit">+</button>
</div>


<%-  include("partials/footer.ejs") %>